

header,
.flex.intro,
footer {
    background-color: rgb(48, 48, 71);
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 40px; 
}

header .title {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-size: 18px 
}

header a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

header a:hover {
    color: #3882f6;
}

.flex.intro {
    display: flex;
    align-items: flex-start;
    padding: 50px;
}

.flex.intro .text {
    flex: 1;
    padding: 40px;
}

.flex.intro h1 {
   font-size: 48px;
   font-weight: bold; 
}

.flex.intro p {
    font-size: 18px;
    color:rgb(216, 216, 216)
}

.flex.intro button {
    background-color: #3882f6;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    width: 100px;
}

.flex.intro img {
    align-self: center;
    justify-content: center;
    width: 400px;
    margin-left: auto;
}

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.images {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.images img {
    width: 200px;
    border-radius: 8px;
    border-style: solid;
    border-color:#3882f6; 
    border-width: 6px;
}

.quote.text {
    background-color: rgb(221, 221, 221);
    padding: 50px;
    margin-top: 50px;
}

.quote.text .quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.quote.text .author {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    padding: 20px;
}

.sign.up {
   background-color: #3882f6; 
   margin: 50px;
   border-radius: 6px;
   color: white;
   font-size: 24px;
   padding: 60px;
   display: flex;
}

.sign.up .text {
    font-size: 24px;
}

.sign.up button {
    border: solid;
    border-color: white;
    color: white;
    border-radius: 8px;
    background-color: transparent;
    font-size: 18px;
    width: 100px;
    margin-left: auto;
}

footer {
    padding: 50px;
    font-size: 18px;
    text-align: center;
}